@media (min-width: 800px) {
  .break--mobile {
    display: none;
  }

  .break--desktop {
    display: block;
  }

  .card {
    flex-direction: row;
    gap: 0;
    padding-bottom: 0;
  }

  .card__imagebox {
    width: 31rem;
  }

  .card__textbox2 {
    height: 100%;
  }

  .card__textbox1 {
    gap: 0rem;
    padding: 3rem 4rem;
  }

  .card__category {
    font-size: 1.6rem;
    padding-bottom: 2rem;
  }

  .card__name {
    font-size: 3.65rem;
    line-height: 3rem;
    padding-bottom: 2rem;
  }

  .card__description {
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding-bottom: 3rem;
  }

  .card__pricebox {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 3rem;
  }

  .card__newprice {
    font-size: 3.7rem;
  }

  .card__oldprice {
    font-size: 1.35rem;
  }

  .card__button {
    padding: 1.4rem;
    gap: 1rem;
  }

  .card__button img {
    width: 1.4rem;
  }

  .card__button span {
    font-size: 1.5rem;
  }
}
